<div class="banner" >

  <div class="banner-content">
    <h2> <strong> Ranking de Escolas </strong></h2>
    <h3>Leia as avaliações das instituições de ensino</h3>
    <h3>Diga você mesmo o que acha da sua escola</h3>
    <p class="btn btn-success"> <%= link_to "Escolas", schools_path %> </p>
  </div>
</div>
