<div class="banner" >

  <div class="banner-content">
    <div class="container">
        <div class="text-center col-xs-12 col-md-offset-3 col-md-6 col-sm-6">
          <h3> <strong> Ranking de Escolas </strong></h3>
          <h4>Leia as avaliações das instituições de ensino</h4>
          <h4>Diga você mesmo o que acha da sua escola</h4>
          <div class="formstyle">
            <div class="searchfield"> <%= form_tag schools_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Buscar escola por cidade" %> </div>
            <%= submit_tag 'Escolas' , class: "searchbutton btn btn-success"%>
            <% end %>
          </div>
        </div>
    </div>
  </div>
  <div class="container">
      <div class="littecardmargin">
        <div class="escapebanner">
          <hr>
          <p> Top 3 escolas </p>
          <div class="divard">
            <% topschools = School.pick_top_schools %>
            <% topschools.each do |topschool|%>
                <%= render "shared/schoolcard",
                school: topschool,
                display_name: true %>
            <%end%>
          </div>
        </div>
      </div>
  </div>
</div>
