<div class="banner" >

  <div class="banner-content">
    <h3> <strong> Ranking de Escolas </strong></h3>
    <h4>Leia as avaliações das instituições de ensino</h4>
    <h4>Diga você mesmo o que acha da sua escola</h4>
    <p class="btn btn-success"> <%= link_to "Escolas", schools_path %> </p>
  </div>
</div>
