<div class="back-img">
  <div class="container">
      <div class="divcard">
            <div class="styletitle">
              <% if School.search_by_city("#{params[:query]}").count != 0 %>
                <h4 class="text-center"> Resultado da busca: <%= "#{params[:query]}" %> </h4>
              <% elsif params[:query].present? == false %>
                <p class="text-center", style="color: white; margin-top: 10px;"> Mostrando todas as escolas!</p>
              <% elsif School.search_by_city("#{params[:query]}") == [] %>
                <h4 class="text-center"> Ainda não temos escolas cadastradas em <%= "#{params[:query]}" %> </h4>
              <%end%>
                <p class="link-voltar"> <%= link_to "Nova busca", root_path %> </p>
            </div>
      </div>
      <div class="centercard">
      <% @schools.each do |school| %>
        <%= render 'shared/schoolcard',
            school: school,
            display_name: true %>
      <%end%>
      </div>
  </div>
  <%console%>
</div>
