.banner {
  background-image: asset-url("quadro.jpg");
  opacity: 0.9;
  text-align: center;
  height: 680px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
}

.banner-content {
  justify-content: center;
  //margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.banner h2, h3, h4 {
  color: white;
  font-weight: bold;
  padding: 8px;
  text-shadow: 5px 1px 6px black;
}
.banner p {
  font-size: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 8px;
}

.banner-content a {
  color: #E8E7E5;
  font-size: 24px;
}

.banner-content a:hover {
  text-decoration: none;
}

.back-img {
  background-image: asset-url("quadro.jpg");
  opacity: 0.9;
  min-height: 800px;
  height: 100%;
  background-size: cover !important;
}

.row hr {
  position: absolute;
  margin-top: 45px;
  margin-right: -15px;
  width: 1045px;
}
