.edit-del-wrap {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.edit-del1 a {
  position: absolute;
  margin-left: -15px;
  text-decoration: none;
  font-size: 12px;
  color: red;
}

.edit-del2 a {
  position: absolute;
  margin-left: -55px;
  text-decoration: none;
  font-size: 12px;
  color: red;
}
.edit-del1 a:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

.edit-del2 a:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
