.form-content {
  font-size: 16px;
  color: white;
}

.form-actions {
  margin-bottom: 5px;
}

.form-actions a:hover {
  font-weight: bold;
  text-decoration: none;
}

.colorform a {
  color: white;
  text-shadow: 5px 1px 6px black;
}

.colorform a:hover {
  font-weight: bold;
  text-decoration: none;
}

#user_school_id {
  font-size: 14px;
}

.text-muted {
  color: white;
  font-size: 13px;
  font-style: italic;
}
