.photo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.photo-header h4 {
  color: white;
  font-size: 20px;
  text-shadow: 5px 1px 6px black;
}
.photoajust {
  margin: 8px;
  text-align: center;
}

.photo-post {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photolinks {
  text-align: right;
}

.photolinks .link-voltar {
  margin-top: 2px;
  margin-right: -2px;
  margin-bottom: 8px;
}

.btn-postar {
  text-align: center;
  font-size: 16px;
}

.photorow {
  border: 1px white solid;
  padding: 3px;
}
