.photo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.photo-header h4 {
  color: white;
  font-size: 18px;
  text-shadow: 5px 1px 6px black;
}

.photo-post {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.photolinks {
  text-align: right;
}

.photolinks .link-voltar {
  margin-top: 2px;
  margin-right: -2px;
  margin-bottom: 8px;
}

.btn-postar {
  text-align: center;
  font-size: 14px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: 260px;
  width: 330px;
}

.photorow {
  margin: 5px;
  border: 1px white solid;
  padding: 3px;
}

.photoajust {
  height: 240px;
}

.photoajustpic {
  width: 100%;
  margin: 0 auto;
}

.photoajust .btn {
  color: purple;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
}

.photoajust p {
  margin: 0;
  color: purple;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: 25px;
  bottom: 28px;

}

.row-img-icons {
  position: relative;
  bottom: 24px;
}
