.photo-header {
  display: flex;
  justify-content: space-between;
}

.photoajust {
  margin: 8px;
}

.photorow {
}

.photo-post {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-postar {
  margin-left: 15px;
  text-align: center;
}
