<div class="back-img" style="height: 100vh">
  <div class="container">
    <div class="photo-header">
      <div class="photo-post">
        <h4> Fotos do(a) <%= @school.name %> </h4>
      </div>
      <div class="photolinks">
        <div class="link-voltar"><%= link_to "Voltar", school_path(@school) %></div>
        <div> <%= link_to "Nova foto!", new_school_review_path(@school), class: "btn-postar btn btn-primary" %> </div>
      </div>
    </div>
    <div class="row">
      <% @photos.each do |pic|%>
        <% if pic.photo.present? %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="photorow">
              <div class="photoajust"> <%= cl_image_tag pic.photo, height: 250, width: 310, crop: :fill %> </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>

